name: "Distribution"
on:
  release:
    types: [published]

permissions:
  contents: write

env:
  GODOT_VERSION: 4.4.1
  EXPORT_NAME: way-to-centauri
  PROJECT_PATH: .

jobs:
  nothing_left_todo:
    name: Nothing Left TODO
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Nothing left TODO
        run: .github/nothing_left_todo.sh

  run_all_tests:
    name: Run All Tests
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout (with LFS)
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Import assets (first run to generate .godot cache)
        run: "godot --headless --path ${PROJECT_PATH} --import || true"

      - name: Verify base test scripts are present
        run: "test -f models/base/test_suite.gd || echo 'WARNING: test_suite.gd missing.'"

      - name: Run test suite and exit on failure
        run: "godot --headless --path ${PROJECT_PATH} --fixed-fps 30 res://tests/test_runner_scene.tscn --run-all-tests || exit 1"

  export-windows:
    needs:
      - nothing_left_todo
      - run_all_tests
    name: Windows Export
    env:
      ARTIFACT_NAME: way-to-centauri-${{ github.ref_name }}-windows.zip
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout (with LFS)
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Update config/version in project.godot
        run: |
          TAG_NAME=${{ github.ref_name }}
          sed -i 's/^config\/version=.*/config\/version="'"${TAG_NAME}"'"/' project.godot

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mkdir -v -p ~/.config/
          mv /root/.config/godot ~/.config/godot || true
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Build
        run: |
          mkdir -v -p build/windows
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Windows Desktop" "$EXPORT_DIR/windows/$EXPORT_NAME.exe"

      - name: Compress to Artifact
        run: |
          cd build/windows
          zip -r ../$ARTIFACT_NAME .

      - name: Upload Artifact to Release Tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.ARTIFACT_NAME }}
          asset_name: ${{ env.ARTIFACT_NAME }}
          tag: ${{ github.ref }}
          overwrite: true

  export-linux:
    needs:
      - nothing_left_todo
      - run_all_tests
    name: Linux Export
    env:
      ARTIFACT_NAME: way-to-centauri-${{ github.ref_name }}-linux.zip
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout (with LFS)
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Build
        run: |
          mkdir -v -p build/linux
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Linux" "$EXPORT_DIR/linux/$EXPORT_NAME.x86_64"

      - name: Compress to Artifact
        run: |
          cd build/linux
          zip -r ../$ARTIFACT_NAME .

      - name: Upload Artifact to Release Tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.ARTIFACT_NAME }}
          asset_name: ${{ env.ARTIFACT_NAME }}
          tag: ${{ github.ref }}
          overwrite: true

  export-web:
    needs:
      - nothing_left_todo
      - run_all_tests
    name: Web Export
    env:
      ARTIFACT_NAME: way-to-centauri-${{ github.ref_name }}-web.zip
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout (with LFS)
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Build
        run: |
          mkdir -v -p build/web
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "$EXPORT_DIR/web/index.html"

      - name: Compress to Artifact
        run: |
          cd build/web
          zip -r ../$ARTIFACT_NAME .

      - name: Upload Artifact to Release Tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.ARTIFACT_NAME }}
          asset_name: ${{ env.ARTIFACT_NAME }}
          tag: ${{ github.ref }}
          overwrite: true
